pandas
requests
yfinance
falkordb
langchain
langchain-community
langchain-huggingface
langchain-openai
langgraph
openai
sentence-transformers
streamlit
python-dotenv
s3fs==2024.6.0
pyarrow==16.0.0
datasets==2.20.0
numpy<2.0.0
fsspec==2024.6.0
